<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My analysis</h1>
    <p class="lead text-muted">I predict that Chennai Super Kings and Delhi Capitals will sail into the top 4. Where as, for the other two spots, Kings XI Punjab, Royal Challengers Bangalore and Mumbai Indians will be seen fighting. </p>
    <p>
      <%= link_to 'Find out	more on this', about_me_path, class: 'btn btn-primary' %>
      <%= link_to 'My blogs', blogs_path, class: 'btn btn-secondary' %>

    </p>
  </div>
</section>