<h1> Ranjhana</h1>
<hr>
<div class="row">
	<div class="col-md-4">

		<%= image_tag "mana.jpeg",width: 300, alt: "Profile Image" %>
	</div>
	<div class="col-md-2">
	</div>
	<div class="col-md-6">
		<p>Na raha mera yaar</p>
		<p>Toone sang, toone ang naa lagaye</p>
		<p>Birha ki agni mein chokhi jalayi</p>
		<p>Hadd se be hadd hadd kardi</p>
		<p>Na chaali dil ki marzi</p>
		<p>Chhaliya ve jaa jaa</p>
		<p>Vaat dekhi teri barson maine</p>
		<p>Gaaj tune giradi dil pe more</p>
		<p>Bedardi samjha na tu more sak ko</p>
		<p>Tujh bin din raat ke saaye</p>
		<p>Tujh bin kuch bhaaye na haye</p>
		<p>Dhola, Dhola Re</p></p>
	</div>
</div>
