

<main role="main" class="inner cover">
  <h1 class="cover-heading">IPL 2020</h1>
  <p class="lead">The 13th edition of the celebrated Indian Premier League starts from 19th September, 2020 in UAE with the final to be hostel on 10th November, 2020. The defending champions Mumbai Indians will be fighting to lift the trophy for a record 5th time. </p>
  <p class="lead">
    <%= link_to "Teams", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>


</div>




